body {
  margin: 0;
  padding: 1vw;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(118, 144, 195, 0.5);
}

::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-btn,
.nav-btn:active,
.nav-btn:visited {
  text-decoration: none;
  color: black;
  font-size: large;
  padding: 0px 1vw 0px 1vw;
  align-content: center;
}

.nav-btn:active {
  background-color: rgba(90, 125, 189, 0.55);
  border: 1px solid rgb(90, 125, 189);
  border-radius: 5px;
  color: black;
}

@media (max-width: 769px) {
  .header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .film-picture {
    width: 100%;
  }

  .details-box {
    flex-wrap: wrap;
  }

  .header-nav-btn {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
}